@mixin rwd-first {
	display: block;
	float: left;
	width: 100%;

		tbody, th, td, tr, tfoot {
			display: block; 
		}

		thead {
			display: none;
		}
		tbody {
			float: left;
			width: 100%;
			border: none;
		}
		tr {
			float: left;
			width: 100%;
			margin: 0 0 1em;
			border: 1px solid $gray-color;
			box-shadow: 0px 2px 5px 0px $gray-color;
			border-radius: $global-radius;
			border-top: 5px solid $primary-color;

			td {
				padding: .5em 0;
				&:before {
					width: 40%;
					display: block;
					float: left;
					padding: .5em;
					clear: both;
					margin: -.5em .5em 0 0;
					@include heading-font-regular;
					font-size: 1.125em;

				}

				&.links {
					width: 100%;
					float: left;
					@include flexbox;
					a {
						width: 100 / 3 * 1%;
						margin: 0;
						display: block;
						float: left;
						text-align: center;
						@include flex(1 1 33%);
					}
				}
			}
		}

		tfoot {
			tr {
				td {
					width: 100%;
					text-align: center;
					&:before {
						display: none;
					}
				}
			}
		}		

		tr:nth-of-type(even) {
			//background: $gray-color;
			td {
				&:before {
					
				}
			}
		}
}

@mixin rwd-second {
	display: table;
	border: none;
	

	th, td {
		display: table-cell; 
	}

	tbody {
		float: none;
		border-bottom: 2px solid $primary-color;
	}
	tr {
		display: table-row;
		border: none;
		border-bottom: 1px dotted #ddd;
		float: none;
		width: auto;
		margin: 0;
		box-shadow: none;

		td {
			padding: .75em 0 0.75em .25em;

			&:before {
				padding: 0 !important;
			}
			&.links {
				float: none;
				width: auto;
				a {
					text-align: left;
					margin: 0 .5em 0 0;
					display: inline-block;
					width: auto;
					@include flex(0 0 auto);
				}
			}
		}


	}

	thead {
		display: table-header-group;
	}

	tbody,tfoot {
		display: table-row-group;
	}

	tr:nth-of-type(even) {
		background:none;
		td {
			b
			&:before {
				
			}
		}
	}

	tfoot {
		tr {
			border: none;
			td {
				text-align: left;
				width: auto;
			}
		}
	}
}

%responive-tables {
	@include rwd-first;

	@media #{$large-up} { 
		@include rwd-second;
		
	}
}

%responive-tables-large {
	@include rwd-first;

	@media #{$large-up} { 

		@include rwd-second;		
	}
}


@mixin responive-tables($headings...) {
	$list: $headings;

	@each $list-headings in $list {
		$i: index($list, $list-headings);
		tbody tr td:nth-of-type(#{$i}):before { 
			content: $list-headings; 
		}
		
		@media #{$large-up} { 
			tbody tr td:nth-of-type(#{$i}):before { 
				content: ''; 
			}
		}

	}
}

#listings {
	@extend %responive-tables;
	@include responive-tables('Status','Stock #','Posted', 'Expires', 'Vehicle');
}

#billing-history {
	@extend %responive-tables;
	@include responive-tables('Description','Payment Date');
}

#accounts {
	@extend %responive-tables;
	@include responive-tables('Status','Name','Market','Assigned To');
}

#markets {
	@extend %responive-tables;
	@include responive-tables('Market Name');
}

#marketAccounts {
	@extend %responive-tables;
	@include responive-tables('Status', 'Name', 'Assigned To', 'Active Since', 'Active Till');
}

#pay {
	@extend %responive-tables;
	@include responive-tables('Market', 'Length', 'Cost');
}