table {
	width: 100%;
	float: left;
	thead {
		border-bottom: 2px solid $primary-color;
		th {
			padding: 0.35em 0 .35em;

			text-align: left;
			@include heading-font-regular;
			font-size: 1.25em;
		}
		
	}

	tbody {
		border-bottom: 2px solid $primary-color;
		tr {
			border-bottom: 1px dotted #ddd;
			td {
				padding: .75em 0;

				a {
					color: $primary-color;
					text-decoration: none;
					display: inline-block;
					margin: 0 .5em 0 0;
					&:hover, &:active, &:focus {
						color: darken($primary-color, 10%);
						border: none;
					}
				}
			}
		}
	}

	tfoot {
		td {
			padding: 0.35em 0 .35em;

			text-align: left;
			@include heading-font-regular;
			font-size: 1.25em;
		}
	}
}

.dataTables_wrapper {

	thead {

		th {
			padding: .35em 0 0.35em .25em;
			cursor: pointer;
			color: #777;
			&:focus {
				outline: none;
				background: $primary-color;
			}

			&:hover {
				color: #222;
			}
		}
		.sorting {
			color: #777;
			&:after {
				font-family: FontAwesome;
				content: "\f0dd";
				float: right;
				padding: 0 .5em 0 0;
			}
		}

		.sorting_asc {
			color: #222;
			&:after {
				font-family: FontAwesome;
				content: "\f0dd";
				float: right;
				padding: 0 .5em 0 0;
			}
		}

		.sorting_desc {
			color: #222;
			&:after {
				font-family: FontAwesome;
				content: "\f0de";
				float: right;
				padding: 0 .5em 0 0;
			}
		}
	}

	tbody, tfoot {
		td {
			padding: .75em 0 0.75em .25em;

			&.dataTables_empty {
				&:before {
					display: none !important;
				}
				width: 100%;
				text-align: center;
			}
		}
	}
	.dataTables_info {
		padding: 1.5em 0;
		clear: both;
	}

	.dataTables_paginate {
		text-align: center;
		width: 100%;
		position: relative;
		padding: 0 0 4em;

		span {
			span {
				padding: 0 .5em;
					
			}

			a {
				padding: 0 .5em;
				color: $header-color;
				&:hover, &:active, &:focus {
					color: $primary-color;
					border: none;
				}

			}

			.current {
				@include body-font-bold;
				color: $primary-color;
			}
		}
	}

	.paginate_button{
		display: inline-block;
		&.disabled {
			opacity: 0;
			cursor: default;
			&:hover, &:active, &:focus {
			}
		}

		&.previous {
			float: left;
			position: absolute;
			top: 3em;
			left: 0em;
			&:before {
				font-family: FontAwesome;
				content: "\f0a8";
				padding: 0 0.5em 0 0;
				font-size: .9em;
			}
		}	
		&.previous, &.next {
			color: $header-color;
			&:hover, &:active, &:focus {
				color: $primary-color;
				border: none;
			}
		}
		&.next {
			float: right;
			position: absolute;
			top: 3em;
			right: 0em;
			&:after {
				font-family: FontAwesome;
				content: "\f0a9";
				padding: 0 0 0 0.5em;
				font-size: .9em;
			}
		}	
	} 
}

.pricing {
	thead {
		th {
			padding: 0em 0 .5em 1em
		}
	}

	tbody {
		.market {
			background: $header-color;
			font-size: 1.5em;
			text-align: left;
			padding: .5em 1em !important;
			color: $secondary-color;
			@include heading-font-regular;
			&:before {
				display: none !important;
			}
			a {
				font-size: .75em;
				color: #fff;
				display: block;
				width: 100%;
				margin: 0;

				&:hover {
					border: none;
					color: $primary-color;
				}
			}

			p {
				margin: 0;
				padding: 0;
				font-size: .75em;
				color: #fff;
				@include heading-font-regular;
				span {
					color: $primary-color;
				}
			}
		}

		td {
			label {
				margin: 0;
				width: 100%;
				text-align: center;
				input {
					margin: 0 0 .5em 0;
				}
			}
		}
	}

	tfoot {
		background: darken($header-color,10%);
		color: #fff;
		td {
			padding: .75em 0;
			text-align: center;
		}
	}
}

@media #{$small-up} { }
@media #{$small-only} { }

@media #{$medium-up} { 
	.dataTables_wrapper {
		.dataTables_paginate {
			//width: auto;
		}
		.paginate_button{
			
			&.previous {
				position: static;
			}	

			&.next {
				position: static;
			}	
		}

		.dataTables_length {
			width: 20%;
			float: left;
		}
		
		.dataTables_filter {
			width: 75%;
			float: right;
		} 
	}


}
@media #{$medium-only} { }

@media #{$large-up} { 
	.dataTables_wrapper {
		.dataTables_paginate {
			width: 50%;
			float: right;
			padding: 1.5em 0;
		}
		.dataTables_info {
			width: 50%;
			float: left;
		}
		.paginate_button{
			
			&.previous {
				position: static;
			}	

			&.next {
				position: static;
			}	
		} 
	}

	.pricing {
		thead {
			th {
				text-align: center;
				padding: 0 0 .5em;
			}
		}

		tbody {
			label {
				padding: 0;
			}
		}
	}


}
@media #{$large-only} { }

@media #{$xlarge-up} { }
@media #{$xlarge-only} { }

@media #{$xxlarge-up} { }
@media #{$xxlarge-only} { }


