body {
	@include body-font-regular();
}

h1, h2, h3, h4, h5, h6 { 
	margin: 0;
	color: $white;
}

h1 {
	@include heading-font-bold();
	font-size: 2.25em;	
	line-height: 1.25em;
	margin: 0em 0 .5em;
}

h4 {
	@include heading-font-light();
	font-size: 1.4em;	
	line-height: 1.11em;
}

@media #{$small-up} { }
@media #{$small-only} { }

@media #{$medium-up} { }
@media #{$medium-only} { }

@media #{$large-up} { }
@media #{$large-only} { }

@media #{$xlarge-up} { }

@media #{$xlarge-only} { }

@media #{$xxlarge-up} { }
@media #{$xxlarge-only} { }