.button {
	background: $secondary-color;
	color: $white;
	cursor: pointer;
	display: block;
	font-size: 1.25rem;
	text-align: center;
	padding: .25rem;
	width: 100%;

	@include single-transition;

	i {
		@include single-transition;
	}

	&:hover, &:active, &:focus {
		background: $secondary-color-shade;
	}

	&.results {
		position: relative;
		// bottom: 0;
		z-index: 25;
	}
}

input,
select,
textarea {
	background: $white;
	box-shadow: none;
	border: none;
	border-bottom: 2px solid $gray-color-shade;
	border-radius: 0;
	font-size: 1rem;
	margin: .25rem 0 0;
	padding: .25rem;
	width: 100%;

	@include body-font-regular();
	@include single-transition(box-shadow);

	&:active,&:focus {
		//box-shadow: inset 1px -1px 2px 1px $tertiary-color;
		//border: 1px solid $tertiary-color;
		border-bottom-color: $primary-color;
		outline: none;
	}
}

input, textarea {
	-webkit-appearance: none;
}

select {
	height: 2rem;
}

label {
	color: $font-color;
	display: block;
	font-size: .875rem;
	margin: 0 0 0.125rem 0;
	text-transform: uppercase;
	width: 100%;

	@include heading-font-bold();
}
