header {
	background: $black;
	padding: .5rem 0;

	h1 {
		color: $white;
		font-size: 1.25rem;
		margin: 0;
		padding: 0;
		text-align: center;

		span {
			color: #36db04;
			display: inline-block;
			padding: 0 0.5rem;
		}
	}
}
